* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #80808040;
}

a {
    color: red;
    font-size: 22px;
    background-color: #ffff00;
}

h1 {
    background-color: #ff000080;
    text-align: center;
}

ul {
    color: purple;
}

#text {
    color: white;
}

p {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.ingredients {
    background-color: #0000ff80;
    display: flex;
    width: 400px;
    margin: 0px 0px 0px 50px;
}

.left > h2,
.right > h2{
    text-align: center;
}

ul #points {
    color: green;
}

button{
    background-color: yellow;
}